<div class="container">
  <div id="post-list-header">
    <div class="header-top">
      <div id="post-list-title">
        {{ title }}
      </div>
      <div class="refresh">
        <span *ngIf="fetching">Fetching posts...</span>
        <span *ngIf="!fetching">Updated
          <br>{{elapsed *1000 | date: 'mm:ss' }} ago</span>
        <span class="refresh-icon" (click)="getPosts()">⟳</span>
      </div>
    </div>
    <div class="header-bottom">
      <div class="filter-box">
        <input type="text" [(ngModel)]="filterText" name="filterText" placeholder="Find in title or body" (input)="textEntered()"
        />
        <div class="input-desc" *ngIf="filterText">{{posts.length > 0 ? posts.length : 'No'}} posts containing: {{filterText}}</div>
      </div>
      <div>
        <input type="checkbox" id="auto-update-checkbox" (click)="toggleAutoUpdate()">
        <span>Auto update
          <br />every min.</span>
      </div>
    </div>
  </div>

  <div *ngFor="let post of posts">
    <app-post [post]=post></app-post>
  </div>

</div>